.classpath
.project
/.settings
/bin
*.DS_Store
grouperClientFailoverState.bin
/target
output.txt
*.iml
src/main/resources/static/javascript/tsconfig.json
.idea
src/main/resources/grouperClientLogs/*
grouperClientLogs
phantomjsdriver.log
coverage*
hs_err_pid11320.log
*.log
src/docs/html/index.html
src/docs/pdf/index.pdf
*.csv

# Docker - Local development environment files
docker/.env
docker/dev.env

# AWS - Local temp files
aws/pipeline.json
aws/*-stack.json

# IDE
.vscode/

