.classpath
.project
/.settings
/bin
*.DS_Store
grouperClientFailoverState.bin
/target
output.txt
*-overrides.properties
*.iml
src/main/resources/static/javascript/tsconfig.json
.idea
src/main/resources/grouperClientLogs/*
grouperClientLogs
phantomjsdriver.log
coverage*
hs_err_pid11320.log
*.log
src/docs/html/index.html
src/docs/pdf/index.pdf
