<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<body>

<h1>UH Groupings API</h1>

<p>
    UH Groupings REST API
</p>

<div>
    <div sec:authorize="!isAuthenticated()">
        <a class="btn btn-lg btn-success" th:href="@{/login}" role="button">Login Here</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <form action="/logout" th:action="@{/logout}" method="post">
            <button class="btn btn-lg btn-default" type="submit">Logout</button>
        </form>
    </div>
</div>


</body>
</html>
